<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49477094321-n4pdc13f9qa4c310hk52251qkto6r343.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49477094321-n4pdc13f9qa4c310hk52251qkto6r343</string>
	<key>API_KEY</key>
	<string>AIzaSyB6Su5jcQxRA9uspvGT6Tj02oD34xxhl_A</string>
	<key>GCM_SENDER_ID</key>
	<string>49477094321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppapp</string>
	<key>PROJECT_ID</key>
	<string>shoppapp-1095a</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppapp-1095a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49477094321:ios:87a3c2ae70ea0cd71e8b90</string>
</dict>
</plist>